



.resultado, .sumario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #888888;
    text-align: center;

    width: 50%;
}

.media-icon{
    width: 20px;
    height: 20px;
}